
{% block content %}



    <section id="block" class="case_list_block" style="padding: 25px">
        <div class="container">
        <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <img src="{{ case.bg_photo.url }}" class="rounded float-left" alt="..." height="280" width="300" style="padding:10px 10px">
            <div class="col-md-7">
            <div class="card-block" style="padding: 10px 20px">
            <h4 class="card-title text-center">{{ case.title }} </h4>
                <div class="card-block main-block" style="padding: 5px 0px ">
                    <p class="small"> {{ case.sub_header }}</p>
                    <div class="row">
                    <table class="table text-center" style="margin: 0px 0px">
                    <tbody>
                      <tr>
                          <td>Total:</td>
                          <td>{{ case.required_sum }} T</td>
                      </tr>
                    </tbody></table></div>

                    <div class="card-block" style="padding: 0px 20px">
                        <div class="row">
                        <div class="col-md-5">
                        <img src="{{ case.fund.logo.url }}" class="rounded float-left" alt="..." height="75" width="100">
                        </div>
                            <div class="col-md-7">

                        <h6 class="card-title text-center">{{ case.fund.title }}</h6>
                        <div class="card-block" style="padding: 0px">
                            <h6 class="text-center small">{{ case.fund.info }}</h6>
                            <h6 class="text-center small"> 19 August 2017 </h6>
                        </div>

                            </div>

                                </div>
                        <div class="card-footer text-center" style="padding: 5px 20px">
                    <a href="{% url "cases:detail" case.id %}" class="btn btn-primary btn" style="margin-top: 10px" >Read about it</a>
                    </div>

                </div>

            </div>



                </div>
            </div>
        </div>
    </div>
        </div>
    </section>
{% endblock content%}
