{% extends 'index.html' %}

{% block content %}

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h1>Charity Bank - <br/> </h1>
                    <h1> Platform for help <br/></h1>
                    <p> Here you can find help or people who are in need of help!</p>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="jumbotron-fluid">
                            <div class="jumbotron-content">
                                <h4>Sign in</h4>
                                <form name="user-info">
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="row">
                                        <div class="col"></div>
                                        <a href="#" class="btn btn-primary btn-large">Sign In</a>
                                        <div class="col"></div>
                                        <a href="#" >Forgot Password</a>
                                        <div class="col"></div>
                                        <a href="#" class="btn btn-primary btn-large">Sign Up</a>
                                        <div class="col"></div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

            </div>

        </div>
    <!-- Jumbotron finish: text alingment-->

{% endblock content%}