#carousel-custom {
    margin: 20px auto;
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space:inherit;
    width: 100%;
    overflow:hidden;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
}
.carousel-indicators li img {
  height: 52px;
  width: 70px;
}
.carousel-indicators {
    bottom: 10px;
    left: 50%;
    list-style: outside none none;
    margin-left: -30%;
    max-width: 70px;
    padding-left: 0;
    position: absolute;
    text-align: center;
    z-index: 15;
}
.indicator-left{
    float: right;
    position: absolute;
    right: -72px;
    top: -11px;
}
@media screen and (max-width: 400px){
    .carousel-indicators li img{
        height: 50px;
        width: 42px;
    }

}
