{% extends "base.html" %}
{% load static i18n %}
{%  block content %}

    	<link rel="stylesheet" href={% static 'css/funds/fund_list_style.css' %}>


    <section class="fund_list">

        {% for fund in fund_list %}

        {%  if forloop.counter|divisibleby:2 %}

            <div class="col-md-1"></div>
            <div class="col-md-5 no-padding lib-item" data-category="ui">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-6">
                            <img class="lib-img" src="{{ fund.logo.url }}" style="height: 250px;width: 250px">
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                                <h2>{{ fund.title }}</h2> dasas
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc">
                                <p>{{ fund.info }}</p>
                                <p>{{ fund.email }}</p>
                                <p>{{ fund.address }}</p>
                                <p>{{ fund.phone }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div></div>
            <hr>
        {% else  %}
            <div class="container" style=" padding-top: 20px">
            <div class="row">
            <div class="col-md-5 no-padding lib-item" data-category="view">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-6">
                            <img class="lib-img-show" src="{{ fund.logo.url }}" style="height: 250px;width: 250px">
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                                <h2>{{ fund.title }}</h2>
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc">
                                <p>{{ fund.info }}</p>
                                <p>{{ fund.email }}</p>
                                <p>{{ fund.address }}</p>
                                <p>{{ fund.phone }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    {% endfor %}

        {% if fund_list.count|divisibleby:2 %}

        {% else  %}
            </div></div>
        {% endif %}

    </section>


{%   endblock content %}
